
.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.logo{
    background-color: #ff7f7f;
    height: 35px;
    transition: transform 8s;
    transform-style: preserve-3d;
    transition-timing-function: linear;
}

.logo-animate{
    transform: rotateY(180deg);
}
